@mixin btn-option($bg-color, $color) {
  background-color: $bg-color;
  color: $color;
  border-radius: $btn-border-radius;
  border: $border-width solid $primary-color;
  font-size: $font-size-base;
}
