$font-family-base: "Open Sans", sans-serif !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$border-radius-base: 8px !default;

$white: #fff !default;
$gray-light: #f8f9fa !default;
$gray: #8899a6 !default;
$gray-dark: #253341 !default;
$black: #000 !default;

$primary-color: #1991da !default;
$body-bg: #16212b !default;
$color-base: $gray !default;
$heading-color: $white !default;
$link-color: $gray !default;
$link-hover-color: darken($link-color, 15%) !default;
$border-color: rgb(61, 84, 102);

$header-padding-x: 5%;
$header-padding-y: 1.5%;
$btn-padding-y: 5px;
$btn-padding-x: 35px;

$btn-border-radius: 60px;
$border-width: 2px;

$panel-padding-y: 30px;
$panel-padding-x: 20px;

$panel-item-padding-y: 20px;
$panel-item-padding-x: 10px;

$place-holder-color: #8899a7;
